:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 50px;
}

h2 {
  margin-top: 0px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

/*------ Login Page -----*/

#home-page {
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#login-section {
  display: flex;
  flex-direction: column-reverse;
}

#login-box {
  width: 40%;
  min-width: 260px;
  height: 50px;
  margin: 0 auto 50px auto;
  padding: 18px 10px;
}

#welcome-box {
  max-width: 600px;
  margin-left: 25px;
}

#login-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/*----- Project List Page -----*/

#menu {
  position: fixed;
  right: 3vw;
}

#menu-button-img {
  width: 40px;
  height: 40px;
}

#dropdown-menu {
  border: 1px solid #3AE070;
  border-radius: 10px;
  background-color: #3AE070;
  width: 200px;
  position: fixed;
  right: 3vw;
  top: 13vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#project-list-table {
  width: 100%;
}

#new-project-button {
  margin-top: 10px;
}

/*----- Create New Project -----*/
#create-project-form {
  border: solid 1px black;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

#exit-create-project-button {
  background-color: transparent;
  position: relative;
  left: 230px;
  top: 40px;
}

input {
  margin: 10px 0px;

}

#title {
  width: 400px;
  margin: 0 auto;
}

#description,
#instructions {
  height: 150px;
  width: 400px;
  max-width: 500px;
  margin: 0 auto;
}

#submit {
  width: 100px;
  margin: 0 auto 20px auto;
}

#add-data-form {
  border: solid 1px black;
  max-width: 500px;
  height: 350px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

#add-data-form input,
#add-data-form select {
  width: 250px;
  margin: 0 auto;
}

#add-data-form #submit {
  width: 110px;
}

#exit-create-data-button {
  position: relative;
  bottom: 50px;
}
