:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B4CDCD;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 50px;
}

h2 {
  margin-top: 0px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #E05B3A;
}

.button:hover {
  background-color: #eee;
  border: 1px solid #E05B3A;
}

/*------ Login Page -----*/

#home-page {
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#login-section {
  display: flex;
  flex-direction: column-reverse;
}

#login-box {
  width: 40%;
  min-width: 260px;
  height: 50px;
  margin: 0 auto 50px auto;
  padding: 18px 10px;
}

#welcome-box {
  max-width: 600px;
  margin-left: 25px;
}

#login-button {
  border-radius: 25px;
  border: 1px solid transparent;
  /*padding: 0.6em 1.2em;*/
  padding: 0.6em 1.2em 0.6em 3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #E05B3A;
}

#google-login-image {
  background-color: #fff;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 39px;
  right: 78px;
  padding: 2px;
}

/*----- Project List Page -----*/

#project-title {
  margin-top: 0;
}

#menu {
  position: relative;
  left: 93%;
  width: 50px;
}

#menu-button-img {
  width: 40px;
  height: 40px;
}

#menu-button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

#dropdown-menu {
  border: 1px solid #3AE070;
  border-radius: 10px;
  background-color: #3AE070;
  width: 200px;
  position: absolute;
  right: 45px;
  top: 10%;
}

.dropdown-button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.flex {
  display: flex;
}

#project-list-table {
  width: 100%;
  background-color: #eee;
}

#project-title-link:hover {
  cursor: pointer;
}

#project-title-table-data {
  min-width: 140px;
}

#project-description-table-data {
  min-width: 300px;
}

#project-id-table-data {
  width: 140px;
}

#project-delete-table-data {
  width: 140px;
}

#new-project-button {
  margin-top: 10px;
}

#delete-project-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #eee;
}

#confirmation-box {
  background-color: #eee;
  border: solid 5px #3AE070;
  width: 400px;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#confirmation-box-button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confirmation-box-button {
  padding: 0.5em 1em;
  margin: 0 20px;
  width: 75px;
}

/*----- Create New Project -----*/
.project-data-form {
  border: solid 1px black;
  background-color: #eeeeeec1;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

#exit-create-project-button {
  background-color: transparent;
  position: relative;
  left: 230px;
  top: 40px;
  border: none;
  padding: 0.4em 1em;
  font-size: 1.20em;
  font-weight: 500;
}

#exit-create-project-button:hover {
  cursor: pointer;
  color: #E05B3A;
}

input {
  margin: 10px 0px;

}

#title {
  width: 400px;
  margin: 0 auto;
}

#description,
#instructions {
  height: 150px;
  width: 400px;
  max-width: 500px;
  margin: 0 auto;
}

#submit-new-project {
  width: 200px;
  margin: 0 auto 20px auto;
}

#add-data-form {
  border: solid 1px black;
  background-color: #eeeeeec1;
  max-width: 500px;
  min-height: 450px;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

#add-data-form input,
#add-data-form select {
  width: 250px;
  margin: 0 auto;
}

#field-options-list {
  list-style-type: none;
}

#field-options-list li {
  height: 22px;
  margin-bottom: 7px;
}

.delete-field-option-button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 9px;
}

.delete-field-option-button img {
  width: 30px;
  
}

#field-form-buttons {
  display: inline-flex;
  justify-content: center;
}

#field-submit {
  width: 100px !important;
  margin: 0px 10px !important;
  padding: 10px;
  
}

#exit-create-data-button {
  width: 100px;
  margin: 0px 10px;
  padding: 10px;
}

#add-field-option-button {
  width: 60px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#add-field-option-button img {
  width: 40px;
  margin: 0 auto;
  fill: #3AE070;
}

/*----- Project Results -----*/

#project-details-back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

#project-details-back-button:hover {
  cursor: pointer;
  color: #E05B3A;
}

#project-details {
  width: 70%;
  background-color: #eee;
  border: solid 1px #6179793f;
  padding: 15px 20px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: left;
}

#project-details-title-button {
  margin: 0 auto;
  border: none;
  display: inline-flex;
  width: 190px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
}

#project-details-title-button h2 {
  margin: 10px 5px;
}

#project-details-title-button:hover {
  cursor: pointer;
}

#project-edit-icon {
  width: 20px;
}

#project-results-table {
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
  overflow-x: auto;
}

#project-results-table, td {
  padding: 5px 10px;
  width: fit-content;
  max-width: 400px;
  min-width: 90px;
  white-space: nowrap;
  overflow-y: auto;
}

#project-field-link:hover {
  cursor: pointer;
}

#project-details-button-box {
  margin: 8px;
}

.project-details-button {
  margin: 0px 5px;
}

#graph-box-title {
  width: 100%;
  font-size: 36px;
  margin-bottom: 20px
}

#graph-box-exit-button {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
}

#graph-box-exit-button:hover {
  cursor: pointer;
  color: #E05B3A;
}

#graph-box {
  margin: 0 auto;
  padding: 50px;
  background-color: #eee;
  border: 2px solid #000;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.line-graph-box, 
.pie-graph-box {
 /* max-width: 80%;
  max-height: 400px;*/
  margin: 20px;
  background-color: #b4cdcd3f;
  border: solid 1px #6179793f;
  border-radius: 10px;
}

.pie-graph-box canvas {
  position: relative;
  bottom: 30px;
}


canvas {
  max-width: 100%;
  max-height: 100%;
}

.graph-cell {
  margin: 50px 10px 10px 10px;
}

.number-graph-box {
  width: 292px;
  background-color: #b4cdcd3f;
  border: solid 1px #6179793f;
  border-radius: 10px;
}

.span2 {
  width: 190px !important;
  margin: 5px auto !important;
}

.num-cell {
  border: 1px solid #eeeeeed4;
  border-radius: 8px;
  background-color: #eeeeee84;
  width: 85px;
  padding: 5px;
  flex-shrink: 0;
  margin-bottom: 5px;
}

.mini-block {
  display: inline flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.num-cell p {
  margin: 2px;
  text-align: left;
}

.num-cell-val {
  font-size: 28px;
}

.num-cell-lbl {
  font-size: 17px;
}

.graph {
  width: 300px;
  height: 400px;
}

.graph h3 {
  margin: 10px 0px 5px 0px;
  font-size: 26px;
}

.graph-field-type {
  margin-top: 0px;
  font-size: 16px;
}

/*----- Edit Project Details -----*/
#edit-data-form {
  min-height: 550px;
}

#project_title {
  width: 400px;
  margin: 0 auto;
}

#project_description,
#project_instructions {
  height: 150px;
  width: 400px;
  max-width: 500px;
  margin: 0 auto;
}

#edit-project-submit {
  margin-right: 110px;
}

#cancel-edit-project-button {
  position: relative;
  bottom: 64px;
  left: 70px;
}

/*----- Edit Project Details -----*/
#edit-field-form {
  height: 210px;
}

#field_name,
#field_label {
  width: 400px;
  margin: 0 auto;
}

#edit-field-submit {
  margin-right: 250px;
}

#cancel-edit-field-button {
  position: relative;
  bottom: 63px;
  left: 115px;
}

#delete-field-button {
  position: relative;
  bottom: 105px;
}
