name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: |
        cd ../
        cd ../
        cd "CS App for Kids Admin Website"
        npm install
    - name: run lint
      run: eslint . --ext .js,.jsx,.ts,.tsx
